<script>
  function toggle(a, b) {
    document.getElementById(a).style.display = "block";
    document.getElementById(b).style.display = "none";
  };
  function clos(a) {
  document.getElementById(a).style.display = "none";
  };
</script>
<footer id="footer">
<div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy; Copyright <strong><span>Predict My Career</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
     Designed by <a href="https://github.com/coder-oj/devjam">Team Cereal Killers</a>
    </div>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>
</body>
</html>